@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

:root {
    --bright-red: hsl(12, 88%, 59%);
    --dark-blue: hsl(228, 39%, 23%);
    --dark-grayish-blue: hsl(227, 12%, 61%);
    --very-dark-blue: hsl(233, 12%, 13%);
    --very-pale-red: hsl(13, 100%, 96%);
    --vary-light-gray: hsl(0, 0%, 98%);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Be Vietnam Pro', sans-serif;
    background-color: #fff;
    color: var(--dark-grayish-blue);
    overflow-x: hidden;
}
ul, ol {
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    color: var(--dark-blue);
}
h2 {
    font-size: 40px;
}

a {
    text-decoration: none;
    color: var(--very-dark-blue);    
}
a:hover {/* pseudo selector */
    color: var(--dark-grayish-blue);
}
a, button {
    transition: all 0.3s ease-in-out;
}

.btn {
    border: 0;
    background-color: var(--vary-light-gray);
    padding: 12px 30px;
    cursor: pointer;
    border-radius: 30px;
    z-index: 1;
}
.btn-primary {
    background-color: var(--bright-red);
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.btn-primary:hover {
    opacity: 0.6;
}
.btn-secondary {
    background-color: var(--vary-light-gray);
    color: var(--bright-red);
}

.d-flex {
    display: flex;
}
.items-center {
    align-items: center;
}
.content-center {
    justify-content: center;
}
.content-between {
    justify-content: space-between;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-white {
    color: var(--vary-light-gray);
}
.align-center {
    text-align: center;
}

.container {
    width: 1170px;
    margin: 0 auto;
}
.section-heading {
    text-align: center;
    margin-bottom: 150px;
}

/* HEADER */
header {
    padding-top: 60px;
}
.header-wrapper {
    justify-content: space-between;
}
.primary-menu li a {
    padding-right: 6px;
    padding-left: 6px;
}

.col-left, .col-right {
    width: 50%;
}
.col-left {}
.col-right {}


/* HERO SECTION */
.hero {
    padding-top: 100px;
    padding-bottom: 100px;
}
.bg-pattern {
    position: absolute;
    top: -120px;
    right: -30px;
    z-index: 0;
}
.hero-heading {
    font-size: 52px;
    margin-bottom: 25px;
    line-height: 1.2;
}
.hero-text {
    margin-bottom: 30px;
}
.hero-image {
    margin-right: -20px;
    z-index: 2;
    position: relative;
    text-align: right;
}


/* ABOUT SECTION */
.about-card {
    margin-bottom: 40px;
}
.about h2{
    line-height: 1.2;
    margin-bottom: 25px;
}
.about-content {
    padding-right: 100px;
}
.card-number {
    background-color: var(--bright-red);
    width: 52px;
    height: 30px;
    padding: 5px;
    border-radius: 30px;
    color: white;
    text-align: center;
    margin-right: 30px;
}
.card-content {
    flex: 0.7;
}

.card-content h3 {
    margin-bottom: 20px;
}


/* TESTIMONIAL */
.testimonial-wrapper {
    margin-bottom: 60px;
}
.testimonials {
    gap: 25px;
}
.testimonial {
    background-color: var(--vary-light-gray);
    /* background-color: var(--bright-red); */
    padding: 25px;
    /* margin-right: 12px;
    margin-left: 12px; */
    border-radius: 5px;
    text-align: center;
    position: relative;
}
/* .testimonial:first-child {
    margin-left: 0;
}
.testimonial:last-child {
    margin-right: 0;
} */

.testimonial img {
    width: 80px;
    position: absolute;
    top: -25%;
    transform: translateX(-50%);
}
.testimonial h4 {
    margin-top: 30px;
    margin-bottom: 20px;
}

.testimonial-btn .btn {
    margin: 40px auto 0;
    display: block;
}

/* Call to action */
.call-to-action {
    background-color:  var(--bright-red);
    background-image: url('/assets/images/bg-simplify-section-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
}

/* Footer */
.footer-wrapper {
    background-color: var(--very-dark-blue);
    padding: 50px 0;
}
.footer-row {
    gap: 30px;
    
}

.footer-logo {
    margin-bottom: 60px;
}
.footer-menu li a {
    color: white;
    padding: 8px 0;
    display: block;
}

/* input[type="email"] {
} */
.subscription {
    padding: 12px;
    border: 0;
    border-radius: 30px;
    margin: 0 6px 60px 0;
}
.subscription:focus {
    outline: none;
}